.todoInput {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: 4px;
    margin-bottom: 1.5rem;
 }
 
 .todoInput input[type='text'] {
    caret-color: var(--clr-bright-blue);
 }
 